name: .NET CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x
    - name: change directory
      run: cd /git/projeto; dotnet publish -o /var/www/webapp
    - name: Test
      run: dotnet test --no-build --verbosity normal
